/* .popup__close_type_emage {
  top: -25px;
  right: 0px;
} */



/* @media screen and (min-width: 320px) and (max-width: 649px) {
  .popup__close_type_emage {
    top: -20px;
    right: 88px;
  }
} */



/* @media screen and (min-width: 700px) and (max-width: 815px) {
  .popup__close_type_emage {
    top: -40px;
    right: 165px;
  }
}


@media screen and (min-width: 816px) and (max-width: 923px) {
  .popup__close_type_emage {
    top: -40px;
    right: 117px;
  }
} */

