.footer {
  max-width: 880px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 66px;
  padding-bottom: 60px;
  margin: auto;
}


@media screen and (min-width: 320px) and (max-width: 648px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    max-width: 282px;
  }
}

@media screen and (min-width: 649px) and (max-width: 1024px) {
  .footer {
    padding-left: 27px;

  }
}
