.popup__container-infotool {
	width: 430px;
	background: #FFFFFF;
   border-radius: 10px;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	cursor: default;
	padding: 60px 0px;
}